<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Papers Search</a>
    <form class="form-inline" method="GET" action="search">
      <input class="form-control mr-sm-2" type="text" name="query" id="query" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </nav>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button">
          <li> 
              <a href="/papers">All papers</a>
          </li>

      </button>
      
      <!--<button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
    --->
    </form>
  </nav>